In [1]:


def one_year_data(stock_ticker): 
    yesterday = datetime.strftime(datetime.now() - timedelta(1), '%Y-%m-%d')
    past_year = datetime.strftime(datetime.now() - timedelta(366), '%Y-%m-%d')
    

    url = "https://www.alphavantage.co/query?"
    query_url = f"{url}function=TIME_SERIES_DAILY&symbol={stock_ticker}&outputsize=full&apikey={apiKey}" 

    response = requests.get(query_url).json() 

    df = pd.DataFrame(response["Time Series (Daily)"]) 

    df_transposed = df.T # or df1.transpose()

    df_filtered = df_transposed[yesterday : past_year] 

    df_filtered.rename(columns={'4. close':'close', '3. low':'low', '2. high':'high', '5. volume':'volume'}, inplace=True)
    
    df_filtered.drop('1. open', axis=1, inplace=True)
    
    df_filtered = df_filtered[["close", "low", "high", "volume"]]
    
    df_filtered.close = pd.to_numeric(df_filtered.close, errors='coerce')
    df_filtered.low = pd.to_numeric(df_filtered.low, errors='coerce')
    df_filtered.high = pd.to_numeric(df_filtered.high, errors='coerce')
    df_filtered.volume = pd.to_numeric(df_filtered.volume, errors='coerce')
    df_filtered.index = pd.to_datetime(df_filtered.index)
    df_filtered = df_filtered.sort_index(ascending=True)
    
    ten_day_model = load_model("ML/model_ten_day.h5")
    thirty_day_model = load_model("ML/model_thirty_day.h5")
    sixty_day_model = load_model("ML/model_sixty_day.h5")    
    
    #sixty day model
    dataset = df_filtered.values
    scaler = MinMaxScaler(feature_range=(0, 1))
    scaled_data = scaler.fit_transform(dataset)
    X_test, y_test = [], []
    for i in range(61,len(dataset)):
        X_test.append(scaled_data[i-61:i-1,0:4])
        y_test.append(scaled_data[i,0])
    X_test, y_test = np.array(X_test), np.array(y_test)
    
    closing_price = sixty_day_model.predict(X_test)
    
    final = []
    for price in closing_price:
        final.append(np.pad(price, (0, 3), 'constant'))
    final_price = scaler.inverse_transform(final)
    close = []
    for price in final_price:
        close.append(price[0])
    
    valid_sixty_day = df_filtered[61:] 
    valid_sixty_day["predictions"] = close
    
    #thirty day model 
    dataset = df_filtered.values
    scaler = MinMaxScaler(feature_range=(0, 1))
    scaled_data = scaler.fit_transform(dataset)
    X_test, y_test = [], []
    for i in range(31,len(dataset)):
        X_test.append(scaled_data[i-31:i-1,0:4])
        y_test.append(scaled_data[i,0])
    X_test, y_test = np.array(X_test), np.array(y_test)
    
    closing_price = thirty_day_model.predict(X_test)
    
    final = []
    for price in closing_price:
        final.append(np.pad(price, (0, 3), 'constant'))
    final_price = scaler.inverse_transform(final)
    close = []
    for price in final_price:
        close.append(price[0])
    
    valid_thirty_day = df_filtered[31:] 
    valid_thirty_day["predictions"] = close
    
    #ten day model
    dataset = df_filtered.values
    scaler = MinMaxScaler(feature_range=(0, 1))
    scaled_data = scaler.fit_transform(dataset)
    X_test, y_test = [], []
    for i in range(11,len(dataset)):
        X_test.append(scaled_data[i-11:i-1,0:4])
        y_test.append(scaled_data[i,0])
    X_test, y_test = np.array(X_test), np.array(y_test)
    
    closing_price = ten_day_model.predict(X_test)
    
    final = []
    for price in closing_price:
        final.append(np.pad(price, (0, 3), 'constant'))
    final_price = scaler.inverse_transform(final)
    close = []
    for price in final_price:
        close.append(price[0])
    
    valid_ten_day = df_filtered[11:]  
    valid_ten_day["predictions"] = close
    
    #output to json
    valid_sixty_day = valid_sixty_day[-90:]
    valid_thirty_day = valid_thirty_day[-90:]
    valid_ten_day = valid_ten_day[-90:]  
    
    valid_sixty_day = valid_sixty_day.to_json(orient='index') 
    valid_thirty_day = valid_thirty_day.to_json(orient='index')
    valid_ten_day = valid_ten_day.to_json(orient='index')
    
    
    
    return valid_sixty_day, valid_thirty_day, valid_ten_day
     
    

sixty, thirty, ten = one_year_data("GOOG")

ModuleNotFoundError: No module named 'config'

In [2]:
# Dependencies
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import requests
import json
import alpha_vantage

from alpha_vantage.timeseries import TimeSeries
import keras
import random
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM
from keras.models import load_model
from numpy import array

Using TensorFlow backend.

In [6]:
yesterday = datetime.strftime(datetime.now() - timedelta(1), '%Y-%m-%d')
past_year = datetime.strftime(datetime.now() - timedelta(366), '%Y-%m-%d')


url = "https://www.alphavantage.co/query?"
query_url = f"{url}function=TIME_SERIES_DAILY&symbol=AAPL&outputsize=full&apikey=JH6O3VJXUFU3WLSZ" 

response = requests.get(query_url).json() 

df = pd.DataFrame(response["Time Series (Daily)"]) 

df_transposed = df.T # or df1.transpose()

df_filtered = df_transposed[yesterday : past_year] 

df_filtered.rename(columns={'1. open': 'open', '4. close':'close', '3. low':'low', '2. high':'high', '5. volume':'volume'}, inplace=True)



df_filtered.open = pd.to_numeric(df_filtered.open, errors='coerce')
df_filtered.close = pd.to_numeric(df_filtered.close, errors='coerce')
df_filtered.low = pd.to_numeric(df_filtered.low, errors='coerce')
df_filtered.high = pd.to_numeric(df_filtered.high, errors='coerce')
df_filtered.volume = pd.to_numeric(df_filtered.volume, errors='coerce')
df_filtered.index = pd.to_datetime(df_filtered.index)
df_filtered = df_filtered.sort_index(ascending=True)

df_filtered = df_filtered[["open", "close", "low", "high", "volume"]]

C:\Users\kreit\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
C:\Users\kreit\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [7]:
df_filtered

                open   close       low      high    volume
2018-04-02  167.8800  166.68  164.4700  168.9400  37586791
2018-04-03  167.6400  168.39  164.8800  168.7455  30278046
2018-04-04  164.8800  171.61  164.7700  172.0100  34605489
2018-04-05  172.5800  172.80  172.0800  174.2304  26933197
2018-04-06  170.9700  168.38  168.2000  172.4800  35005290
2018-04-09  169.8800  170.05  169.8450  173.0900  29017718
2018-04-10  173.0000  173.25  171.5300  174.0000  28614241
2018-04-11  172.2300  172.44  171.7000  173.9232  22431640
2018-04-12  173.4100  174.14  173.0400  175.0000  22889285
2018-04-13  174.7800  174.73  173.8500  175.8400  25124255
2018-04-16  175.0301  175.82  174.8301  176.1900  21578420
2018-04-17  176.4900  178.24  176.4100  178.9365  26605442
2018-04-18  177.8100  177.84  176.8800  178.8200  20754538
2018-04-19  174.9500  172.80  172.6600  175.3900  34808800
2018-04-20  170.5950  165.72  165.4300  171.2184  65491140
2018-04-23  166.8348  165.24  164.0900  166.9200  36515477
2018-04-24  165.6700  162.94  161.2201  166.3300  33692017
2018-04-25  162.6200  163.65  162.4100  165.4200  28382084
2018-04-26  164.1200  164.22  163.3700  165.7300  27963014
2018-04-27  164.0000  162.32  160.6300  164.3300  35655839
2018-04-30  162.1302  165.26  161.8400  167.2600  42427424
2018-05-01  166.4102  169.10  165.2700  169.2000  53569376
2018-05-02  175.2250  176.57  173.8000  177.7500  66539371
2018-05-03  175.8800  176.89  174.4411  177.5000  34068180
2018-05-04  178.2500  183.83  178.1700  184.2500  56201317
2018-05-07  185.1800  185.16  184.7500  187.6700  42451423
2018-05-08  184.9900  186.05  183.6650  186.2200  28402777
2018-05-09  186.5500  187.36  185.2200  187.4000  23211241
2018-05-10  187.7400  190.04  187.6500  190.3700  27989289
2018-05-11  189.4900  188.59  187.4500  190.0600  26212221
...              ...     ...       ...       ...       ...
2019-02-19  169.7100  170.93  169.4900  171.4400  18972826
2019-02-20  171.1900  172.03  170.9900  173.3200  26114362
2019-02-21  171.8000  171.06  170.3000  172.3700  17249670
2019-02-22  171.5800  172.97  171.3800  173.0000  18913154
2019-02-25  174.1600  174.23  173.9500  175.8700  21873358
2019-02-26  173.7100  174.33  173.1732  175.3000  17070211
2019-02-27  173.2100  174.87  172.7300  175.0000  27835389
2019-02-28  174.3200  173.15  172.9200  174.9100  28215416
2019-03-01  174.2800  174.97  172.8900  175.1500  25886167
2019-03-04  175.6900  175.85  173.9700  177.7500  27436203
2019-03-05  175.9400  175.53  174.5400  176.0000  19737419
2019-03-06  174.6700  174.52  173.9400  175.4900  20810384
2019-03-07  173.8700  172.50  172.0200  174.4400  24796374
2019-03-08  170.3200  172.91  169.5000  173.0700  23999358
2019-03-11  175.4900  178.90  175.3500  179.1200  32011034
2019-03-12  180.0000  180.91  179.3700  182.6700  32467584
2019-03-13  182.2500  181.71  180.9200  183.3000  31032524
2019-03-14  183.9000  183.73  182.5600  184.1000  23579508
2019-03-15  184.8500  186.12  183.7400  187.3300  39042912
2019-03-18  185.8000  188.02  185.7900  188.3900  26219832
2019-03-19  188.3500  186.53  185.9200  188.9900  31646369
2019-03-20  186.2300  188.16  184.7300  189.4900  31035231
2019-03-21  190.0200  195.09  189.8100  196.3300  51034237
2019-03-22  195.3400  191.05  190.7800  197.6900  42407666
2019-03-25  191.5100  188.74  186.6000  191.9800  43845293
2019-03-26  191.6640  186.79  184.5800  192.8800  49800538
2019-03-27  188.7500  188.47  186.5500  189.7600  29848427
2019-03-28  188.9500  188.72  187.5300  189.5590  20780363
2019-03-29  189.8300  189.95  188.5400  190.0800  23563961
2019-04-01  191.6400  191.24  188.3800  191.6800  27861964

[252 rows x 5 columns]

In [21]:
#sixty = sixty[-90:]
#thirty = thirty[-90:]
#ten = ten[-90:]

In [36]:
#%matplotlib inline
#import matplotlib.pyplot as plt
#plt.figure(figsize=(16,8))
#plt.plot(sixty[['close', 'predictions']])
#plt.plot(thirty[['predictions']])

In [34]:
#sixty_json = sixty.to_json(orient='index') 
#thirty_json = thirty.to_json(orient='index')
#ten_json = ten.to_json(orient='index')