In [384]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import requests
import json
import alpha_vantage
from config import apiKey

In [386]:
yesterday = datetime.strftime(datetime.now() - timedelta(1), '%Y-%m-%d')

In [387]:
past_year = datetime.strftime(datetime.now() - timedelta(366), '%Y-%m-%d')

In [388]:
user_ticker = input("What ticker symbol would you like to evaluate?")

What ticker symbol would you like to evaluate?MSFT

In [389]:
user_ticker

'MSFT'

In [390]:
#https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&outputsize=full&apikey=demo
from alpha_vantage.timeseries import TimeSeries
url = "https://www.alphavantage.co/query?"
query_url = f"{url}function=TIME_SERIES_DAILY&symbol={user_ticker}&outputsize=full&apikey={apiKey}"

In [391]:
response = requests.get(query_url).json()

In [392]:
df = pd.DataFrame(response["Time Series (Daily)"])

In [393]:
df_transposed = df.T # or df1.transpose()

In [394]:
df_filtered = df_transposed[yesterday : past_year]

In [395]:
df_filtered.rename(columns={'2. high':'high', '3. low':'low', '4. close':'close', '5. volume':'volume'}, inplace=True)

/Users/addisonpietroburgo/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [396]:
df_filtered.drop('1. open', axis=1, inplace=True)

/Users/addisonpietroburgo/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [397]:
df_filtered.head()

                high       low     close    volume
2019-03-19  118.4400  116.9900  117.6500  37588697
2019-03-18  117.6100  116.0500  117.5700  31207596
2019-03-15  117.2500  114.5900  115.9100  54630661
2019-03-14  115.2000  114.3300  114.5900  30763367
2019-03-13  115.0000  113.7800  114.5000  35513771